.additional-info-modal {

}

.additional-info-modal .carousel {

}

.carousel-image{
    width: 20vw;
    min-width: 200px;
    margin-right: 10px;
    margin-left: 10px;
}


.additional-info-modal .header {
    text-align: right;
    margin-bottom: 10px;
}


.additional-info-modal .header label{
    cursor: pointer;
}