
.scrolling-floater-block {
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    color: black;
}

.scrolling-floater-block .scrolling-floater-placeholder {
    flex: 1;
    background-color: black;
    min-width:400px;
}

.scrolling-floater-block .scrolling-floater-placeholder .scrolling-floater {
    position: relative;
    height: 100vh;
    background-color:black;
}

.scrolling-floater-block .scroll-section {
    flex: 1;
    min-width:400px;
}

.scroll-section .text {
    padding: 100px;
    font-family: Roboto-Regular;
    font-weight: 500;
    text-align: left;
    font-size: 16px;
    line-height: 1.75em;
}

bold {
    font-weight: 700;
}

headline {
    font-size: 24px;
    font-weight: 700;
}

.text a {
    color: black;
}
.scrolling-floater-block .scroll-section .image {
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more {
    color: white;
    background-color: black;
    width: 100px;
    cursor: pointer;
    padding: 18px;
    opacity:0;
    font-size: 14px;
    transition:all 0.8s ease;
    text-transform: uppercase;
    text-align: center;
}

.image:hover  .more {
    opacity:0.5 ;
}

.more:hover {
    opacity:1!important;
}

.scrolling-floater .container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 34px;
    height: 100%;
}


.scrolling-floater .container .title {
    text-transform:uppercase;
    font-family: "RobotoSlab-Thin";
}

