.footer {
    display: flex;
    padding: 4vh 12vw 4vh 12vw;
    align-items: center;
}

.footer .logo {

}

.footer .short-navigation-bar {
    flex-grow: 999;
    flex-shrink: 0;
}

.footer .up {
    cursor: pointer;
}