.main-navigation-bar {
    list-style-type: none;
    display: flex;
    justify-content: center ;
    height: 30px;
    margin-bottom: 100px;
    text-transform: capitalize;
}

.main-navigation-bar .icon {
    width: 2.6vh;
}


.main-navigation-bar .menuItem:hover {

}

.main-navigation-bar li {
    cursor: pointer;
    text-transform: capitalize;
    border-bottom-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    font-size: 2.6vh;
    font-family: SourceSans-Regular, serif;
}

.main-navigation-bar>*:not(:last-child) {
    margin-right: 80px;
}

.main-navigation-bar li .underline {
    text-transform: uppercase;
}

.main-navigation-bar .separator {
    margin-right: 20px;
    margin-left: 20px;
}