.additional-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12vh;
}

.additional-info-content .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.additional-info-content .image {
    width: 65vw;
}

.additional-info-content>*:not(:last-child) {
    margin-bottom: 12vh;
}

.additional-info-content .title {
    width: 65vw;
}

.additional-info-content .title .title-headline {
    font-family: PTSerif-Regular, serif;
    font-size: 6vh;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.additional-info-content .title .title-description {
    font-family: PTSerif-Regular, serif;
    font-size: 4vh;
    color: #B0B0B0;
}

.additional-info-content .subtitle {
    display: inline-flex;
    width: 53vw;
    flex-flow: wrap;
    margin-right: 6vw;
}

.additional-info-content .subtitle .subtitle-headline {
    font-family: PTSerif-Regular, serif;
    font-size: 2.8vh;
    color: #B0B0B0;
    flex: 1 1 30%;
    margin-bottom: 15px;
    white-space: nowrap;
}

.additional-info-content .subtitle .subtitle-description {
    font-family: SourceSans-Regular, serif;
    font-size: 2.3vh;
    white-space: pre-line;
    flex: 3 3 65%;
}