.additional-info-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.additional-info-content .image {
    height: 75vh;
}


.additional-info-content .flicktiy-carousel {
    width: 100vw;
}

.additional-info-content .flicktiy-carousel .carousel-cell{
    max-height: 75vh;
    cursor: grab;
    max-width:100vw;
}


