.App {
}

.headline {
  background-color: white;
  color: black;
  font-family: PTSerif-Regular, serif;
  font-size: 16px;
  text-transform: uppercase;
  cursor: default;
  white-space: pre-wrap;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.headline .logo {
  width: 20px;
  text-align: left;
  margin: 7vh 0 20vh 7vw;
}

.headline .text{
  padding-left: 12vw;
  text-align: left;
  flex-grow: 999;
  flex-shrink: 0;
  text-transform: capitalize;
}

.headline .text .title {
  font-size: 8vh;
}

.headline .text .description {
  font-size: 3vh;
}

.headline .items {
  list-style-type: none;
  display: flex;
  justify-content: center ;
  height: 30px;
  margin-bottom: 100px;
  text-transform: capitalize;
}

.headline .items .icon {
  height: 14px;

}

.headline .items li {
  cursor: pointer;
  text-transform: lowercase;
  border-bottom-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}

.headline .items>*:not(:last-child) {
  margin-right: 50px;
}

.headline .items li:hover span {
  border-bottom-color: rgb(255, 11, 154) ;
}

.headline .items li .underline {
  text-transform: uppercase;
}

.headline .items .separator {
  margin-right: 20px;
  margin-left: 20px;
}


.App-link {
  color: #09d3ac;
}
