.App {
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  background-color: white;
  color: black;
  font-family: "RobotoSlab-Thin";
  font-size: 24px;
  text-transform: uppercase;
  cursor: default;
  white-space: pre-wrap;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.headline .logo {
  width: 30px;
  text-align: left;
  margin: 7vh 0 7vh 7vw;
}

.headline .text{
  padding-left: 12vw;
  text-align: left;
  flex-grow: 999;
  flex-shrink: 0;
  font-size: 42px;
}

.headline .items {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  height: 30px;
  margin-bottom: 100px;
  text-transform: capitalize;
}

.headline .items li {
  cursor: pointer;
  text-transform: lowercase;
  border-bottom-color: black;
}

.headline .items li:hover span {
  border-bottom-color: yellow ;
}

.headline .items li .underline {
  text-transform: uppercase;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.headline .items .separator {
  margin-right: 20px;
  margin-left: 20px;
}


.App-link {
  color: #09d3ac;
}
