.App {
}

.headline {
  background-color: white;
  color: black;
  font-family: PTSerif-Regular, serif;
  font-size: 16px;
  text-transform: uppercase;
  cursor: default;
  white-space: pre-wrap;
  height: 86vh;
  display: flex;
  flex-direction: column;
}

.headline .text{
  padding-left: 12vw;
  text-align: left;
  flex-grow: 999;
  flex-shrink: 0;
  text-transform: capitalize;
  margin-top: 16vh;
}

.headline .text .title {
  font-size: 8vh;
}

.headline .text .description {
  font-size: 3vh;
}

.App-link {
  color: #09d3ac;
}
