@font-face {
  font-family: Roboto-Regular;
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: RobotoSlab-Thin;
  src: url("/fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: PTSerif-Regular;
  src: url("/fonts/PTSerif-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: SourceSans-Regular;
  src: url("/fonts/SourceSans-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: SourceSans-Light;
  src: url("/fonts/SourceSans-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: SourceSans-Bold;
  src: url("/fonts/SourceSans-Bold.ttf") format("truetype");
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'Roboto-Regular',serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

ul {
  padding-inline-start: 0;
}
