@font-face {
  font-family: Roboto-Regular;
  src: url("/fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: RobotoSlab-Thin;
  src: url("/fonts/RobotoSlab-Thin.ttf") format("truetype");
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Roboto-Regular", Serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #292929;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

ul {
  padding-inline-start: 0px;
}
